The COSE_Sign format does not conform to RFC 8152 (COSE)

While trying to write a COSE parser to handle cose.sig files as found in Firefox add-ons (META-INF/cose.sig in .xpi files), I have noticed that Firefox' COSE_Sign messages do not conform to the COSE specification. The "kid" key (label 4) is defined as `bstr` (see note-1 below), but cose-rust, Firefox, autograph, etc. assume an array of `bstr`:

- https://github.com/mozilla/gecko-dev/blob/master/security/manager/ssl/tests/unit/sign_app.py#L86-L94 (note KID is an array)
- https://github.com/franziskuskiefer/cose-rust/blob/44d92ee41cd85579b2ea683bd674690c1ec36b88/src/decoder.rs#L156-L158

The specs suggest that "kid" should be a bstr instead:
- https://www.iana.org/assignments/cose/cose.xhtml#header-parameters
- From https://tools.ietf.org/html/rfc8152#page-15
    ```
   Generic_Headers = (
       ? 1 => int / tstr,  ; algorithm identifier
       ? 2 => [+label],    ; criticality
       ? 3 => tstr / int,  ; content type
       ? 4 => bstr,        ; key identifier
    ```

An example of a properly formatted COSE_Sign message can be found in
[RFC 8152 (Appendix C.1.2)](https://tools.ietf.org/html/rfc8152#appendix-C.1.2).
Compare this to this decoded version of NoScript 10.6.3 using the dumper example from the COSE Working Group (https://github.com/cose-wg/COSE-C):
```
COSE-C$ LD_LIBRARY_PATH=dist/lib dist/dumper/cose_dumper ./noscript-cose.sig 
98(
  [
    / protected / h'a104815907313082072d30820515a00...' / {      <-- empty in RFC appendix
        \ kid \ 4:[    < -- hmm, array instead of bstr
          h'3082072d30820515a00302010202031...'
        ]
      } / , 
    / unprotected / {}, 
    / payload / ##, 
    / signatures / [
      [
        / protected / h'a2012604590498308204943082027ca...' / {
            \ alg \ 1:-7 \ ECDSA 256 \, 
            \ kid \ 4:h'308204943082027ca0030201020208...'   <-- unprotected in RFC appendix
          } / , 
        / unprotected / {}, 
        / signature / h'867eca52b1e4f6f9278c8d72473646...'
      ]
    ]
  ]
)
```

The contents of "kid" is not exactly specified, but is supposed to relate to a public COSE_Key from COSE_KeySet (https://tools.ietf.org/html/rfc8152#page-34). COSE seems to provide a rather low level public key primitive while Firefox uses DER-encoded X.509 certificates. The latter is encoded in the signature and should be fine. Firefox places it in the "protected" section however, but the spec [says](https://tools.ietf.org/html/rfc8152#page-13):
> Key identifier values are hints about which key to use.  This is not a
> security-critical field.  For this reason, it can be placed in the
> unprotected headers bucket.

I guess that the purpose of Firefox including the full X.509 certificate in the "protected" section is to authenticate the identity in that certificate.

To improve spec compliance, I suggest changing the label type from 4 to something else (this could be requested from IANA I suppose). It could also be moved to the unprotected section, I do not think that authenticating the trust anchor is that helpful. A verifier such as Firefox could conceivably build a different trust chain instead of using the hints from the COSE_Signature. An alternative option is to include the certificate and chain in a separate file and use that (META-INF/mozilla.rsa).

Links:
- Issue #15 presumably changed the signature format.
- Bug 1403840 - Implement COSE for the new add-on signatures https://bugzilla.mozilla.org/show_bug.cgi?id=1403840

Open question: why move from mozilla.sf to COSE? CBOR might be easier to parse than ASN.1 specifications encoded in DER, but the PKI and associated intermediate certificates still require a DER parser...
___
note-1:

The full message details (COBR's CDDL is unfortunately not very obvious) are as follows.
[RFC 8152 (Section 4.1. Signing with One or More Signers)][1]
```
   COSE_Sign_Tagged = #6.98(COSE_Sign)
   COSE_Sign = [
       Headers,
       payload : bstr / nil,
       signatures : [+ COSE_Signature]
   ]
```

From https://tools.ietf.org/html/rfc8152#page-12
```
   Headers = (
       protected : empty_or_serialized_map,
       unprotected : header_map
   )

   header_map = {
       Generic_Headers,
       * label => values
   }

   empty_or_serialized_map = bstr .cbor header_map / bstr .size 0
```

 [1]: https://tools.ietf.org/html/rfc8152#section-4.1